# Sauvegardes et caches KiCad
*-bak
*-bak2
*-backups/
*.kicad_prl
*.bak
*.bck
*~
_autosave-*
*.tmp
fp-info-cache

# Fichiers de verrouillage et rapports
*.lck
*.rpt

# Freerouting (autorouteur)
*.dsn
*.ses


.history/
